<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLINICA.Properties.Settings.CLINICAConnectionString"
            connectionString="Data Source=DESKTOP-02FCSK2\BASE_DATOS;Initial Catalog=CLINICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CLINICA.Properties.Settings.MEDICOConnectionString"
            connectionString="Data Source=DESKTOP-02FCSK2\BASE_DATOS;Initial Catalog=MEDICO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>